/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merienda", cursive;
  transition: all 0.4s ease;
  text-decoration: none;
}

/* ===== Colours ===== */
:root {
  --body-color: #c0c4cf;
  --nav-color: #4070f4;
  --side-nav: #010718;
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}
body {
  background-image: url("images/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

header {
  background-color: #262626;
}
li {
  list-style: none;
}

a {
  color: rgb(219, 215, 215);
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #262626;
  z-index: 999;
}

.navbar2{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #262626;
  z-index: 999;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.nav-menu2{
  display: flex;
}
.nav-menu2 li{
  padding-right: 10px;
  color:rgb(219, 215, 215)
}

.nav-menu2 li:hover{
  color: dodgerblue;
  cursor: pointer;
}
.nav-menu2 li:active{
  color: dodgerblue;
}

main {
  width: 90%;
  height: 100%;
  margin: 70px auto 0;
  /* background-color: #393838; */
  /* padding-top: 70px; */
}

button {
  padding: 15px 60px;
  background-color: rgb(149, 170, 197);
  color: rgb(53, 49, 49);
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.home,
.featured,
.blog {
  width: 100%;
  /* background-color: #f2f2f2; */
  margin-bottom: 70px;
}
.wrapper,
.featured-wrapper {
  width: 100%;
  height: 75%;
  /* background-color: rgb(44, 39, 33); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.left,
.right {
  width: 48%;
  height: 500px;
  margin-top: 30px;
  /* background-color: #4070f4; */
}

.about-container .right-side {
  width: 48%;
}

h1,
h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.hero-logo{
  width: 100%;
  height: 300px;
  /* background-color: #4caf50; */
  margin: 0 auto;
}
.hero-logo img{
  width: 100%;
  height: 100%;
}
.left p {
  /* margin-top: -30px; */
  text-align: center;
  margin-bottom: 2rem;
  /* padding-bottom: 30px; */
}

.socials {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  gap: 10px;
}

.socials a {
  color: black;
}

.scroll-down {
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-top: 15px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/* featured artists  */
.featured {
  margin-top: 50px;
  border-bottom: 1px solid rgba(121, 117, 117, 0.938);
}
.main-artists {
  width: 100%;
  height: 500px;
  /* background-color: aquamarine; */
}

.featured-wrapper {
  margin-bottom: 100px;
}
.featured-container-left {
  width: 100%;
  height: 100%;
}

button {
  margin-top: 15px;
  font-size: 1rem;
}

/* blog styling */
.blog {
  border-bottom: 1px solid rgba(121, 117, 117, 0.938);
}

.blog .header p {
  text-align: center;
}

.blog-heading span {
  color: #f33c3c;
}

.blog-heading h3 {
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}

.blog-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.blog-box {
  width: 280px;
  background-color: #ffffff;
  border: 1px solid black;
  margin: 20px;
}
.blog-img {
  width: 100%;
  height: auto;
}
.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog-text span {
  color: #f33c3c;
  font-size: 0.9rem;
}
.blog-text .blog-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
}
.blog-text .blog-title:hover {
  color: #f33c3c;
  transition: all ease 0.3s;
}
.blog-text p {
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
.blog-text a {
  color: #0f0f0f;
}
.blog-text a:hover {
  color: #f33c3c;
}

/* about us  */
.about {
  border-bottom: 1px solid rgba(121, 117, 117, 0.938);
  padding-bottom: 50px;
}
.about-container {
  width: 100%;
  /* height: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.about-container .socials {
  margin-top: 20px;
}
.about-container .left-img {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.left-img img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}

.text {
  text-align: center;
}

.about .heading {
  text-align: center;
  margin-top: 20px;
}

/* contact us styling  */
.contact {
  width: 100%;
  /* background-color: #242526; */

  margin-bottom: 50px;
}
.contact-container {
  width: 100%;
  /* height: 85vh; */
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 90%;
  max-width: 600px;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text;
  transition: 0.2s;
}
.contact button {
  padding: 10px 0;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row .input-group {
  flex-basis: 48%;
}
.contact .heading {
  margin-top: 30px;
}
/* footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: var(--main-color);
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/* ----------------------------------------  */

/* artist page cards  */
.artist-page {
  width: 100%;
  height: 100%;
}
.categories {
  display: flex;
  justify-content: center;
  margin: 100px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.category {
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  margin: 0 auto;
}

.profile-card {
  width: 200px;
  padding: 10px;
  text-align: center;
  border: 1px solid #5a1d1d;
  border-radius: 5px;
  margin: 20px;
}

.profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cards{
  display: flex;

  flex-wrap: wrap;


}
#profileCards {
  margin-top: 150px;
}

.profile-card .popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
}

.profile-card .popup .popup-content{
  width: 100%;
  display: flex;
}

.profile-card img {
  width: 100%;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-card .popup .popup-content .left-content{
  width: 38%;
}
.profile-card .popup .popup-content .right-content{
  width: 58%;
}

.left-content p{
 margin-bottom: 10px;
}


@media (min-width: 1025px) {
  main{
    width: 1024px;
  }
}
@media (max-width: 986px) {
  .about-container .right-side {
    width: 100%;
  }
}

@media (max-width: 790px) {
  .left,
  .right {
    width: 100%;
    height: 530px;
    margin-top: 30px;
    /* background-color: #4070f4; */
  }

  .swiper {
    width: 100%;
    height: 85%;
    margin-top: 15px;
  }
  h1,
  h2 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
  .left p {
    text-align: center;
    margin-bottom: 1rem;
  }
  .about-container {
    flex-direction: column;
  }
  .about-container .left,
  .right {
    width: 100%;
  }
  .hero-logo{
    margin-bottom: 20px;
}
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
  .left,
  .right {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    /* background-color: #4070f4; */
  }
}

@media (max-width: 667px) {
  h1,
  h2 {
    font-size: 1.8rem;
  }

}

@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
  .left,
  .right {
    height: 400px;
  }
  .left-img img {
    height: 400px;
  }
  .about p {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  h1,
  h2 {
    font-size: 1.5rem;
  }
  .about-container .right {
    height: 500px;
  }
}
